.list-users {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.btn-page {
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
}
.btn-page button {
  max-width: 60px;
  max-height: 30px;
  margin: 16px ;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.btn-page button:hover {
  cursor: pointer;
  background-color: beige;
}
.info {
  padding: 10px;
}
